*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body{
    height: 100%;
    width: 100%;
}

#page1{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: rgb(107, 208, 241);
    display: flex;
    justify-content: center;
    align-items: center;
      flex-direction: column;
}
#page3{
    height: 100%;
    width: 100%;
    background-color: rgb(33, 187, 238);
    display: flex;
  
    justify-content: center;
    align-items: center;
}
#box {
    height: 300px;
    width: 300px;
    background-color: crimson;
}
h1{
    position: relative;
    padding: 30px;
    

}